@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,600;0,500;0,800;1,100&family=Poppins:wght@100;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/back.jpg");
    background-size: cover;
    background-position: center;
}

.card {
    position: relative;
    width: 370px !important;
    width: 100%;
    padding: 30px;
    border-radius: 30px !important;
    background-color: #fff;
}

.card-body {
    padding-bottom: 0 !important;
}

h5 {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 800 !important;
    color: #333;
}

h6 {
    font-family: "Montserrat";
    font-size: 18px !important;
    font-weight: 600;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-group-item {
    font-family: "Montserrat";
    font-size: 14px !important;
    font-weight: 500;
    color: #333;
}